.button {
  min-width: 48px;
  min-height: 48px;
  color: $button-textcolor;
  border: 2px solid $bordercolor;
  border-radius: 80px;
  outline: none;
  font-size: 1.25rem;
  font-weight: 900;
  background-color: $button-color;
  @include mq(768px) {
    font-size: 1.5rem;
    min-width: 64px;
    min-height: 64px;
  }
}

.button:hover {
  cursor: pointer;
}

.button:hover,
.button:focus {
  box-shadow: 4px 2px 5px $text-shadow-color;
  border-color: $font-color;
}
