* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background-color: $background-color;
  background-image: url("../img/clouds.jpg");
  background-size: cover;
  background-blend-mode: overlay;
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  letter-spacing: 1px;
  color: $font-color;
  @include mq(768px) {
    font-size: 22px;
  }
}

body {
  width: 100%;
  min-height: 100vh;
  @include flexCenter;
  flex-direction: column;
  padding: 0.5rem;
}

main {
  width: 100%;
  max-width: 700px;
  max-height: 1050px;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  color: $font-color;
  background-color: $mask-color;
  border: 1px solid $bordercolor;
  border-radius: 10px;
  box-shadow: 1px 1px 2.5px $shadowcolor;
}

img {
  display: block;
}

hr {
  width: 90%;
  margin: auto;
  border: 1px solid $bordercolor;
}

.none {
  display: none;
}

.block {
  display: block;
}
