@mixin flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin mq($size) {
  @media only screen and (min-width: $size) {
    @content;
  }
}

@mixin mqh($size) {
  @media only screen and (min-height: $size) {
    @content;
  }
}

@mixin mqMaxWMinH($size1, $size2) {
  // iPad Pro w: 1024 & iPhone Plus 6/7/8 h: 736
  @media only screen and (max-width: $size1) and (min-height: $size2) {
    @content;
  }
}
